@model IEnumerable<WebBanMacBook.Models.ListThuocTinh>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/styles.css">
    <title>HardDriveForm</title>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">

                    <a href="/Admin/ManageForm" style="text-decoration: none; color: black;text-align: left">
                        <div class="btn btn-outline-danger">
                            Trở về
                        </div>
                    </a>

                    <a href="/Admin/CreateHardDriveForm" style="text-decoration: none; color: black; float: right">
                        <div class="btn btn-outline-success">
                            Thêm Ổ Cứng
                        </div>
                    </a>

                </div>
                <br />
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.HardDriveID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HardDriveName)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.HardDriveID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.HardDriveName)
                            </td>
                            <td>
                                @Html.ActionLink("Chỉnh sửa", "UpdateHardDriveForm", new { harddriveid = item.HardDriveID })
                            </td>
                            <td>
                                @Html.ActionLink("Xóa", "DeleteHardDrive", new { harddriveid = item.HardDriveID })

                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
</html>
