@model IEnumerable<WebBanMacBook.Models.ListOrder>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/styles.css">
    <title>OrderForm</title>
</head>
<body>
<div class="container">
    <a href="/Admin/ManageForm" style="text-decoration: none; color: black;text-align: left">
        <div class="btn btn-outline-danger">
            Trở về
        </div>
    </a>
    @ViewBag.loi
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DelieveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            
            <th></th>
        </tr>
    
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DelieveryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
            
                <td>
                    @Html.ActionLink("Edit", "UpdateOrderForm", new { id = item.OrderID }) |
                    @Html.ActionLink("Delete", "DeleteOrder", new { id = item.OrderID })
                </td>
            </tr>
        }
    
    </table>
</div>
</body>
</html>
