@model WebBanMacBook.Models.ListThuocTinh

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/styles.css">
    <title>HardDriveForm</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Chỉnh sửa ổ cứng</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.HardDriveID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <p style="color: red">@ViewBag.thongbaotrung</p>
                                @Html.EditorFor(model => model.HardDriveID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.HardDriveID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.HardDriveName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.HardDriveName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HardDriveName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-10">
                            <a href="/Admin/HardDriveForm" style="text-decoration: none; color: black;text-align: left">
                                <div class="btn btn-outline-danger">
                                    Trở về
                                </div>
                            </a>
                            <input type="submit" value="Edit" class="btn btn-outline-primary" />

                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

</body>
</html>
